.card {
  width: 50%;
  margin: auto;
}

.titulo {
  text-align: center;
}

.rotulo-na-linha {
  display: block;
  margin: 5px 0px;
}

.entrada {
  margin: 20px 0px;
}

.entrada input {
  width: 50%;
  margin: 0px 55px 0px 0px;
  padding: 5px;
}

.entrada button {
  width: 30%;
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: 4px solid rgb(194, 190, 190);
}

.entrada label {
  text-align: left;
}

.saida {
  border: 4px solid rgb(194, 190, 190);
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
}

.resultado {
  width: 48%;
  display: inline-block;
  text-align: right;
}

.rotulo-resultado {
  width: 50%;
  display: inline-block;
}

#botaoDespesa {
  background-color: rgb(172, 6, 6);
}
