body{
    font-family: sans-serif;
    text-align: center;
}

.card {
    background-color: #d1e8fd;
    width: 40%;
    margin:  30px auto;
    padding: 25px;
    border-radius: 8px;
}

.card input {
    width: 100%;
    margin: 3px 0px;
    border: 3px solid #95c8fa;
    border-radius: 5px;
    padding: 5px;
}

.card button {
    border: none;
    background-color: #6fb7fe;
    margin: 18px 0px 2px 0px;
    padding: 8px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
}

.card button:hover{
    background-color: #2188ef;
    cursor: pointer;
    box-shadow: 1px 2px 10px gray;
}

.card label{
    font-weight: 600;
    margin-left: 3px;
}

.entrada {
    text-align: left;
}

#titulo-box {
    display: inline-block;
    margin-top: 20px;
    background-color: #a4d0fb;
    color: white;
    padding: 5px 10px;
}

#titulo-box h1 {
    margin: 0px;
    font-weight: 400;
}